@page "/"

<PageTitle>Home</PageTitle>

<div class="card">
    <div class="card-header">
        <h1>Registros</h1>
    </div>
    <div class="card-body">

        <a href="/prioridad/Agregar" class="btn btn-outline-info">Prioridad</a>
        <a href="/cliente/Agregar" class="btn btn-outline-info">Cliente</a>
        <a href="/sistema/Agregar" class="btn btn-outline-info">Sistema</a>
        <a href="/ticket/Agregar" class="btn btn-outline-info">Ticket</a>
    </div>

</div>

<div class="card">
    <div class="card-header">
        <h1>Consultas</h1>
    </div>
    <div class="card-body">

        <a href="/ConsultaPrioridad" class="btn btn-outline-info">Prioridad</a>
        <a href="/ConsultaCliente" class="btn btn-outline-info">Cliente</a>
        <a href="/ConsultaSistema" class="btn btn-outline-info">Sistema</a>
        <a href="/ConsultaTicket" class="btn btn-outline-info">Ticket</a>
    </div>

</div>
