@page "/prioridad/Detalles/{PrioridadId:int}"
@inject HttpClient httpsClient

<div class="card">
    <h1>Detalles.</h1>

    <div class="card-body">
        <p>Prioridad ID  =    @prioridad.PrioridadId</p>
        <p>Descri&oacute;n  =  @prioridad.Descripción</p>
        <p>Dias compromiso  =  @prioridad.DiasCompromiso</p>
    </div>

    <div class="card-footer">
        <a href="/consultaPrioridad" class="bi bi-arrow-return-left btn btn-outline-primary">Volver</a>
    </div>
</div>


@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades prioridad = new Prioridades();

    protected override async Task OnInitializedAsync()
    {
        prioridad = await httpsClient.GetFromJsonAsync<Prioridades>($"api/Prioridades/{PrioridadId}");
    }
}
