@page "/prioridad/Eliminar/{PrioridadId:int}"
@inject HttpClient httpClient

<h3>Detalles de Prioridad</h3>
<EditForm Model="prioridad">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Eliminar Prioridad.</h3>
            </div>
            <div class=card-body>



                @*Descripción*@
                <div class="mb-3">
                    <label class="form-label" for="Descripción">Descripción:</label>
                    <InputText @bind-Value="prioridad.Descripción" class="form-control" />
                    <ValidationMessage For="@(() => prioridad.Descripción)" />
                </div>
                <p class="text-danger">@_mensaje</p>

                @*Dias compromiso*@
                <div class="mb-3">
                    <label class="form-label" for="SolicitadoPor">Dias compromiso:</label>
                    <InputNumber @bind-Value="prioridad.DiasCompromiso" class="form-control" />
                    <ValidationMessage For="@(() => prioridad.DiasCompromiso)" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div class="btn">
                    <a href="/ConsultaPrioridad" class="bi bi-arrow-return-left btn btn-outline-primary">Volver</a>
                </div>
                <div class="btn align-self-center">
                    <button type="button" class="bi bi-x-circle-fill btn btn-outline-danger" @onclick="Eliminar1">Eliminar <i class="oi oi-trash" /></button>
                </div>
                <div>
                </div>
            </div>

        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int PrioridadId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Obtener los detalles de la prioridad utilizando el PrioridadId
        prioridad = await prioridadesService.FindByIdAsync(PrioridadId);

    }

    public Prioridades prioridad = new Prioridades();
    public string _mensaje = string.Empty;
    public async Task Eliminar1()
    {
        var eliminado = await prioridadesService.Delete(prioridad.PrioridadId);
        if (eliminado)
        {
            _mensaje = "Prioridad eliminada con exito.";

        }

    }
}