@page "/sistema/Agregar"
@inject HttpClient httpClient

<PageTitle>Sistema</PageTitle>
<EditForm Model="sistema" OnValidSubmit="Save">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Sistema.</h3>
            </div>
            <div class=card-body>


                @*Nombre Sistema*@
                <div class="mb-3">
                    <label class="form-label" for="Nombre">Nombre sistema:</label>
                    <InputText @bind-Value="sistema.NombreSistema" class="form-control" />
                    <ValidationMessage For="@(() => sistema.NombreSistema)" />
                </div>
                <p class="text-danger">@_mensaje</p>

                @*Descripcion Sistema*@
                <div class="mb-3">
                    <label class="form-label" for="SolicitadoPor">Descripci&oacute;n Sistema</label>
                    <InputText @bind-Value="sistema.DescripcionSistema" class="form-control" />
                    <ValidationMessage For="@(() => sistema.DescripcionSistema)" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">

                <div class="btn">
                    <a href="" class="bi bi-arrow-return-left btn btn-outline-primary">Volver</a>
                </div>

                <div class="btn align-self-center">
                    <button type="submit" class="bi bi-floppy btn btn-outline-success">Guardar <i class="oi oi-document" /></button>
                    <button type="button" class="bi bi-file-earmark-plus btn btn-outline-primary" @onclick=Nuevo>Nuevo</button>
                </div>

                <div>
                </div>

            </div>

        </div>
    </div>
</EditForm>
<p class="text-success">@_mensaje3</p>

@code {
    public Sistemas sistema = new Sistemas();
    public string _mensaje = string.Empty;
    public string _mensaje3 = string.Empty;



    public async Task Save()
    {
        var response = await httpClient.PostAsJsonAsync("api/Sistemas", sistema);

        if (!response.IsSuccessStatusCode)
        {
            return;

        }
        // if (guardo)
        // {
        //     Nuevo();
        //     _mensaje3 = "Se ha guardado correctamente.";
        // }
        // else
        //     _mensaje = "Ya existe una descripción igual.";
    }

    public void Nuevo()
    {
        sistema = new Sistemas();
        _mensaje = string.Empty;
        _mensaje3 = string.Empty;
    }
}
