@page "/sistema/Detalles/{SistemaId:int}"
@inject HttpClient httpClient

<div class="card">
    <h1>Detalles.</h1>

    <div class="card-body">
        <p>Prioridad ID  =    @sistema.SistemaId</p>
        <p>Nombre Sistema  =  @sistema.NombreSistema</p>
        <p>Descrici&oacute;n  =  @sistema.DescripcionSistema</p>
    </div>

    <div class="card-footer">
        <a href="/ConsultaSistema" class="bi bi-arrow-return-left btn btn-outline-primary">Volver</a>
    </div>
</div>


@code {
    [Parameter]
    public int SistemaId { get; set; }
    public Sistemas sistema = new Sistemas();

    protected override async Task OnInitializedAsync()
    {
        sistema = await httpClient.GetFromJsonAsync<Sistemas>($"api/Sistemas/{SistemaId}");
    }
}
